{# templates/dashboard.html.twig #}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>SnowTricks - Dashboard</title>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <link href="/OCR-P6/public/quixlab-master/css/style.css" rel="stylesheet">

    {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
    
    {% block body %}{% endblock %}

    {% block footer %}{% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
         <script>
    
    $( document ).ready(function() {

    console.log('Bonjour !');
        $('.video').on('click', function(e){

            var videoUrl = $(this).prev().val();
            var youtube_video_id = videoUrl.match(/youtube\.com.*(\?v=|\/embed\/)(.{11})/).pop();
            console.log(youtube_video_id);
            //$('.preview-video').empty().append( $('iframe').clone().attr({'src': videoUrl}) ); // $iframe: the original iframe for embedding
            $('.preview-video') [0].src=videoUrl;
            e.preventDefault();
            
            //vérification de l'Url 
            //url valide

           
           
        })
    });
</script>
    {% endblock %}

        <!--Scripts-->
        <script src="/OCR-P6/public/quixlab-master/plugins/common/common.min.js"></script>
        <script src="/OCR-P6/public/quixlab-master/js/custom.min.js"></script>
        <script src="/OCR-P6/public/quixlab-master/js/settings.js"></script>
        <script src="/OCR-P6/public/quixlab-master/js/gleek.js"></script>
        <script src="/OCR-P6/public/quixlab-master/js/styleSwitcher.js"></script>

</html>