{# templates/dashboard.html.twig #}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>SnowTricks - Dashboard</title>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <link href="/OCR-P6/public/quixlab-master/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
    
    {% block body %}{% endblock %}

    {% block footer %}{% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

        <!--Scripts-->
        <script src="/OCR-P6/public/build/trick-add.js"></script>
        <script src="/OCR-P6/public/quixlab-master/plugins/common/common.min.js"></script>
        <script src="/OCR-P6/public/quixlab-master/js/custom.min.js"></script>
        <script src="/OCR-P6/public/quixlab-master/js/settings.js"></script>
        <script src="/OCR-P6/public/quixlab-master/js/gleek.js"></script>
        <script src="/OCR-P6/public/quixlab-master/js/styleSwitcher.js"></script>

</html>