{# templates/dashboard.html.twig #}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>SnowTricks - Dashboard</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="../quixlab-master/css/style.css" rel="stylesheet">

    {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}

</head>

<body>
{% block body %} 

{% endblock %}

{% block footer %} {% endblock %}

{% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
{% endblock %}

    <!--Scripts-->
    <script src="../quixlab-master/plugins/common/common.min.js"></script>
    <script src="../quixlab-master/js/custom.min.js"></script>
    <script src="../quixlab-master/js/settings.js"></script>
    <script src="../quixlab-master/js/gleek.js"></script>
    <script src="../quixlab-master/js/styleSwitcher.js"></script>

</body>

</html>