{# templates/layout.html.twig #}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Mirko Venturi">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Custom CSS-->
    {# <link src="../templates/modern-business/css/modern-business.css" rel="stylesheet"> #}
    <link src="../quixlab-master/css/style.css" rel="stylesheet">
    {% endblock %} 
    <title>{% block title %} SnowTrick - {% endblock %}</title>
</head>


<body>
    {% block body %}
        
        {% include 'Parts/_header.html.twig' %}

    {% endblock %}

    {% block javascripts %} 
    <!-- Bootstrap core JavaScript -->
    <script src="../templates/modern-business/vendor/jquery/jquery.min.js"></script>
    <script src="../templates/modern-business/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    {% endblock %}

</body>    
    
</html>