{# templates/Trick/_form.html.twig #}

{# Cette vue sera heritée par add.html.twig et edit.html.twig #}

<h3>Ajouter une figure</h3>

{# Afficher ici le formulaire #}

<div class="form">

    <!--Insérer ici le formulaire-->

</div>