{# templates/Trick/_form.html.twig #}

{# Cette vue sera heritée par add.html.twig et edit.html.twig #}

<div class="form">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-uppercase">Ajouter un Trick</h4>
                    {{ form(form) }}
            </div>
        </div>
    </div>
</div>