{# templates/Trick/edit.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} Modifier une figure {% endblock %}

{% block body %}

<h2>Modifier une figure</h2>
<!--TO DO : formulaire pour modifier une figure-->

{% endblock %}