{# templates/Trick/edit.html.twig #}

{% extends "dashboard.html.twig" %}

{% block body %}
 
 {{ include("Parts/_dashboard_layout.html.twig") }}

    <div class="content-body my-4">
        <div class="container-fluid">
            <h4 class="card-title text-uppercase mx-3">Modifier un Trick</h4>
            {{ include("Trick/_form.html.twig") }}
        </div>
    </div>
        
    <div class="footer">
        <div class="copyright">
            <p>Copyright &copy; Mirko Venturi 2020</p>
        </div>
    </div>

{% endblock %}

{% block javascripts %} 
    {{ parent() }}
{% endblock %} 
