{# src/templates/Parts/_footer.html.twig  #}

<div class="row">
    <div class="col-lg-12 text-center">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/MirkoVenturi1" target="_blank" rel="noopener noreferrer">
              <strong class="fab fa-twitter"></strong>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/mirko.venturi.79" target="_blank" rel="noopener noreferrer">
              <strong class="fab fa-facebook-f"></strong>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://fr.linkedin.com/in/mirkoventuri?trk=people-guest_profile-result-card_result-card_full-click" target="_blank" rel="noopener noreferrer">
              <strong class="fab fa-linkedin-in"></strong>
            </a>
          </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-center">
        <ul class="list-inline quicklinks">
            <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Mentions légales</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-center">    
        <div class="copyright">
            <p>Copyright &copy; Mirko Venturi 2020</p>
        </div>
    </div>
</div>